	$text-color: rgb( 255, 255, 255 );

	body {

	background: url('../images/w2p2_background.jpg');

		color: $text-color;
		font-family: sans-serif;
		padding-top: 30px;
  	padding-right: 30px;
  	padding-bottom: 0;
  	padding-left: 30px;

		span{
			background: black;
		}

		h1{
			color: yellow;
		}

		.logo {
				width: 90%;
			}

		.cover {
				width: 10%;
			}
}
